.foot{
    color: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 35px 0 0 0;
    position: relative;

    .miniCom{
        text-align: center;
    }
    ul{
        display: flex;
        flex-direction: row;
        
        li{
            list-style-type: none;
        }
    }
    #footerInfo{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        #contact{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
                .contactForm{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 90%;
                    background-color: #1a1824;
                    border-radius: 15px;
    
                    p{
                        width: 90%;
                        margin: 20px;
                    }
        
                    input, textarea{
                        font-family: 'Lato', sans-serif;
                        width: 90%;
                        height: 40px;
                        padding: 0 0 0 10px;
                        margin: 0 10px;
                        border: none;
                        color: #fdfdfd;
                        background-color: #13111c;
                        box-shadow: none;
                        border-radius: 15px;
                        
                        &:focus{
                            outline: none;
                        }
                    }
                
                    #content{
                        height: 100px;
                        padding-top: 10px;
                        resize: none;
                    }
    
                    #submit{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0;
                        transition: all 0.2s;
                        width: 100px;
                        border: 1px solid #742e9c;
                        margin: 20px;
                        align-self: flex-end;
    
                        &:hover{
                            background-color: #742e9c;
                            cursor: pointer;
                        }
                    }
            }
        
        }
            #myInfo{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            
                #infoContent{
                    background-color:  #1a1824;
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    border-radius: 15px;

                    .info{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 70%;
                        justify-content: space-around;
                        
                    }
                }
               
            }
    }
    #copyright{
        font-size: 1em;
        text-align: center;
    }
}

@media screen and (min-width:961px){
    .foot{
        #footerInfo{
            flex-direction: row;
            align-items: flex-start;
        }
    }
}