#navDesktop{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.397);
    width: 98%;
    color: #D6D6D6;;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;

    &.is-hidden {
        opacity: 0;
        transform: translate(0,-60px);
        transition: .5s ease;
      }
    
      &.is-visible {
        opacity: 1;
        transform: translate(0,0);
        transition: .5s ease;
      }
    h1{
        margin: 0;
        color: white;

        span{
            color:#742e9c;

        }
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        a{
            margin: 25px 20px;
            color: #D6D6D6;;
            text-decoration: none;
        }
    }
   
}