#skillLanguage{
    .skillType{
        border: 1px solid #742e9c88;
        box-shadow: 0px 4px 24px #742e9c77;

        .skillContainer{
            background-color: #50107554;

            div{
                background-color: #742e9c;
            }
        }
    }
}
#skillDesign{
    .skillType{
        border: 1px solid #42946e88;
        box-shadow: 0px 4px 24px #42946e77;
        .skillContainer{
            background-color: #10754654;

            div{
                background-color: #42946e;
            }
        }
    }
}
#skillOther{
    .skillType{
        border: 1px solid #2e559c88;
        box-shadow: 0px 4px 24px #2e559c77;
        .skillContainer{
            background-color: #102b7554;

            div{
                background-color: #2e559c;
            }
        }
    }
}
.skillType{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    
    margin: 20px 0;
    
    .skillName{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        h1{
            font-size: clamp(1.5em, 2vw, 2.5em);
            color: white;
        }
        #GHIcon, #UnityIcon{
            filter:invert(1);
        }
    }

    img{
        height: 40px;
        margin: 20px;
    }

    .skillSize{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .skillContainer{
            width: 84vw;
            height: 13px;
            border-radius: 15px;
            margin: 20px;

            div{
                height: 100%;
                border-radius: 15px;
            }

            #HTMLlvl, #CSSlvl{
                width: 90%;
            }

            #JSlvl, #CSlvl, #PSlvl, #GHlvl, #Unitylvl{
                width: 80%;
            }

            #PHPlvl, #AIlvl, #Reactlvl{
                width: 70%;
            }

            #PRlvl, #AElvl{
                width: 50%;
            }

            #XDlvl{
                width: 40%;
            }

        }
    }
}
@media screen and (min-width:641px)  { 
    .skillType{
        .skillSize{
            .skillContainer{
                width: 38vw;
            }
        }
    }
}
@media screen and (min-width:961px)  {
    .skillType{
         
        img{
            height: 60px;
            margin: 20px;
        }
        .skillSize{
            .skillContainer{
                height: 20px;
                width: 25vw;
            }
        }
    }
}
