#popUp{
    width: 320px;
    margin: 20px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #272241;
    border-radius: 15px;
    transition: all 0.5s;
    transform: scale(0);

    #close{
        margin: 15px;
        position: absolute;
        right: 0;
        top: 0;
    }
}
#foot{
    .open{
        transform: scale(1);
    }
}
