html{
  scroll-behavior:smooth;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  color: #4F4F51;
  background-color: #13111c;
  overflow-x: hidden;

  p{
    font-size: clamp(20px, 1vw, 30px);
    width: 80%;
  }

  h2{
    font-size: clamp(1.5em, 2vw, 2.5em);
    margin: 5px 0 0 0;
    color: #fff;
  }

  h1{
    margin: 20px 0 10px 0;
    font-size: clamp(2em, 3vw, 4em);
    color: #42946e;

  }

  a, a:visited{
    color: #b173ff;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }


  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
